body {
  font-family: 'Roboto Slab', serif;
  color: white;
  background-color: #333c4e;
}

h1, h2, h3 { margin: 0 0 0.4em 0; }

h1 { font-weight: 400; text-align: center; }
h2 { font-weight: 300; text-align: center; color: #aaa; }
h3 { font-weight: 700; }

a {
  color: #f44336;
  text-decoration: none;
}

a:hover { color: #2196f3; }

ul {
  padding: 0;
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  margin-bottom: 50px
}

footer {
  clear: both;
  width: 100%;
  padding: 20px 0;
  margin-top: 0px;
  font-weight: 100;
  font-size: 0.8em;
  text-align: center;
  color: #aaa;
}

.contributors {
  padding-top: 20px;
}

.contributor {
  float: left;
  width: 32%;
  min-height: 180px;
  margin-bottom: 2em;
  margin-right: 2%;
}

.contributor:nth-child(3n) {
  margin-right: 0%;
}

.avatar-container {
  float: left;
  width: 100px;
  height: 100px;
}

.avatar {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 2px solid #fafafa;
  border-radius: 15px;
  background: no-repeat center/cover;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.7);
}

.activity {
  margin-left: 120px;
}

.contibutor-username {
  text-transform: uppercase;
}

.activity-events {
  padding-top: 5px;
  border-top: 1px dotted rgba(255, 255, 255, 0.2);
  font-weight: 300;
  font-size: 0.75em;
}

.event {
  color: #aaa;
}

.event em {
  color: white;
  font-weight: 400;
  font-style: normal;
}
